<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>统一异常处理</title>
    <style type="text/css" rel="stylesheet">
        *{
            margin: 0 auto;
            padding: 0 0;
            clear: both;
        }
        .error{
            width: 500px;
            background-color: #cccccc;
            text-align: center;
            overflow: hidden;
            border-radius: 5px 5px;
            vertical-align: middle;
            top: 50px;
            position: relative;
        }
        .error div{
            line-height: 30px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="error">
        <h1>Error Handler</h1>
        <div th:text="'URL:'+${url}">url</div>
        <!--@thymesVar id="exception" type=""-->
        <div th:text="'异常信息:'+${exception.message}">异常信息</div>
        <!--@thymesVar id="method" type=""-->
        <div th:text="'请求方法:'+${method}">请求方法</div>
        <div>如有疑问，请联系管理员</div>
    </div>
</body>
</html>